@import './base.css';
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr 50px;
  grid-template-areas: "header" "main" "footer";
  font-weight: normal;
}

ul {
  background-color: var(--vt-c-list-even);
}
ul:nth-child(odd) {
  background-color: var(--vt-c-list-odd);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 650px) {
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}
